@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

:root {
    --primary: #4b4b4b;
}

body {
    font-family: 'Lobster', cursive;
    background: var(--primary);
    text-align: center;
}

.container {
    background-color: #E0F2F1;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    height: 100vh;
}

h2 {
    font-size: 6rem;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 4px #000000;

    -webkit-animation: rainbow 5s infinite;

    /* Standar Syntax */
    animation: rainbow 5s infinite;
}

p {
    margin-top: 1rem;
    font-size: 2rem;
}

@-webkit-keyframes rainbow {
    0% {
        color: rgb(224, 157, 33);
    }

    10% {
        color: rgb(70, 19, 70);
    }

    20% {
        color: rgb(163, 10, 10);
    }

    30% {
        color: rgb(34, 180, 185);
    }

    40% {
        color: rgb(248, 248, 61);
    }

    50% {
        color: rgb(196, 80, 37);
    }

    60% {
        color: rgb(69, 146, 69);
    }

    70% {
        color: rgba(7, 143, 143, 0.678);
    }

    80% {
        color: rgba(228, 36, 138, 0.726);
    }

    90% {
        color: rgb(131, 187, 243);
    }

    100% {
        color: rgb(172, 130, 53);
    }
}

@keyframes rainbow {
    0% {
        color: rgb(224, 157, 33);
    }

    10% {
        color: rgb(70, 19, 70);
    }

    20% {
        color: rgb(163, 10, 10);
    }

    30% {
        color: rgb(34, 180, 185);
    }

    40% {
        color: rgb(248, 248, 61);
    }

    50% {
        color: rgb(196, 80, 37);
    }

    60% {
        color: rgb(69, 146, 69);
    }

    70% {
        color: rgba(7, 143, 143, 0.678);
    }

    80% {
        color: rgba(228, 36, 138, 0.726);
    }

    90% {
        color: rgb(131, 187, 243);
    }

    100% {
        color: rgb(172, 130, 53);
    }
}